<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-lazy-init="true">
	
	<bean id="tableDao" class="epos.main.java.dao.TableDao">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean id="tableService" class="epos.main.java.service.TableService">
		<property name="tableDao" ref="tableDao"></property>
	</bean>
	
	<bean id="userDao" class="epos.main.java.dao.UserDao">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean id="userService" class="epos.main.java.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="departmentDao" class="epos.main.java.dao.DepartmentDao">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean id="departmentService" class="epos.main.java.service.DepartmentService">
		<property name="departmentDao" ref="departmentDao"></property>
	</bean>
</beans>